html {
    font-size: 12px;
}
@media screen and (min-width: 240px) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 280px) {
    html {
        font-size: 18.66666666px;
    }
}
@media screen and (min-width: 320px) {
    html {
        font-size: 21.33333333px;
    }
}
@media screen and (min-width: 360px) {
    html {
        font-size: 24px;
    }
}
@media screen and (min-width: 375px) {
    html {
        font-size: 25px;
    }
}
@media screen and (min-width: 384px) {
    html {
        font-size: 25.6px;
    }
}
@media screen and (min-width: 400px) {
    html {
        font-size: 26.66666667px;
    }
}
@media screen and (min-width: 414px) {
    html {
        font-size: 27.6px;
    }
}
@media screen and (min-width: 424px) {
    html {
        font-size: 28.26666667px;
    }
}
@media screen and (min-width: 480px) {
    html {
        font-size: 32px;
    }
}
@media screen and (min-width: 540px) {
    html {
        font-size: 36px;
    }
}
@media screen and (min-width: 720px) {
    html {
        font-size: 48px;
    }
}
@media screen and (min-width: 750px) {
    html {
        font-size: 50px;
    }
}
@media screen and (min-width: 850px) {
    html {
        font-size: 25px;
    }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body,
html {
    line-height: 1;
    font-weight: 200;
    font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", arial, sans-serif;
    touch-action: manipulation;
}

@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.8, .8, .8) rotate(-6deg);
        transform: scale3d(.8, .8, .8) rotate(-6deg)
    }

    30%,
    40%,
    50%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(6deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(6deg)
    }

    60%,
    70%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(-6deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate(-6deg)
    }

    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    animation-duration: .4s;
    animation-fill-mode: both;
}